<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_log.css') }}">
</head>
<body>
    <div class="container">
        <div class="login-wrapper">
            <!-- Panel kiri -->
            <div class="left-panel"></div>

            <!-- Panel kanan -->
            <div class="right-panel">
                <h2>Login</h2>
                <p class="note">Catatan: fitur ini diperuntukkan hanya untuk pemilik toko barber</p>

                <!-- Form -->
                <form method="POST" action="{{ url_for('user.login') }}">
                    <div class="form-group">
                        <input type="email" name="email" id="email" placeholder="email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" placeholder="password" required>
                    </div>
                    <p class="forgot-password">
                        <a href="{{ url_for('user.forgot_password') }}">Lupa Password?</a>
                    </p>
                    <button type="submit" class="login-btn">Login</button>
                    <p class="register-note">
                        Belum memiliki akun? <a href="{{ url_for('user.register') }}">daftar akun anda</a>
                    </p>                   
                    
                    <!-- <div class="divider">
                        <span>atau</span>
                    </div>
                   
                    <button type="button" class="google-login">
                        <img src="/static/img/R.png" alt="Google Logo"> Google
                    </button> -->
                </form>
            </div>
        </div>
        <div class="side-decoration right"></div>
    </div>
</body>
</html>
